<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

 
<servlet>
      <servlet-name>Inventoryitemservlet</servlet-name>
      <servlet-class>com.controller.Inventoryitemservlet</servlet-class> 
 </servlet>
<servlet-mapping>
<servlet-name>Inventoryitemservlet</servlet-name>
<url-pattern>/Inventoryitemservlet</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>Displayinventoryservlet</servlet-name>
      <servlet-class>com.controller.Displayinventoryservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Displayinventoryservlet</servlet-name>
<url-pattern>/Displayinventoryservlet</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>Inventoryupdateservlet</servlet-name>
      <servlet-class>com.controller.Inventoryupdateservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Inventoryupdateservlet</servlet-name>
<url-pattern>/Inventoryupdateservlet</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>Deleteitemservlet</servlet-name>
      <servlet-class>com.controller.Deleteitemservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Deleteitemservlet</servlet-name>
<url-pattern>/Deleteitemservlet</url-pattern>
</servlet-mapping>

<!-- Razta we XML stuff -->>

	<servlet>
		<servlet-name>AddTreatmentDetailsServlet</servlet-name>
		<servlet-class>com.controller.AddTreatmentDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTreatmentDetailsServlet</servlet-name>
		<url-pattern>/AddTreatmentDetailsServlet/*</url-pattern>
	</servlet-mapping>

 	<servlet>
		<servlet-name>AddTreatmentDetails_MedicineServlet</servlet-name>
		<servlet-class>com.controller.AddTreatmentDetails_MedicineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTreatmentDetails_MedicineServlet</servlet-name>
		<url-pattern>/AddTreatmentDetails_MedicineServlet/*</url-pattern>
	</servlet-mapping>
	 <servlet>
        <servlet-name>AddTreatmentDetails_SupportSystemsServlet</servlet-name>
        <servlet-class>com.controller.AddTreatmentDetails_SupportSystemsServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
	 	<servlet-name>AddTreatmentDetails_SupportSystemsServlet</servlet-name>
		<url-pattern>/AddTreatmentDetails_SupportSystemsServlet</url-pattern>
	</servlet-mapping>
	 <servlet>
        <servlet-name>AddTreatmentDetails_InvestigationsServlet</servlet-name>
        <servlet-class>com.controller.AddTreatmentDetails_InvestigationsServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
	 	<servlet-name>AddTreatmentDetails_InvestigationsServlet</servlet-name>
		<url-pattern>/AddTreatmentDetails_InvestigationsServlet</url-pattern>
	</servlet-mapping>
	
	
 
 <servlet>
        <servlet-name>PatientHandoff_Servlet</servlet-name>
        <servlet-class>com.controller.PatientHandoff_Servlet</servlet-class>
 </servlet>
<servlet-mapping>
 	<servlet-name>PatientHandoff_Servlet</servlet-name>
	<url-pattern>/Patient_Handoff</url-pattern>
</servlet-mapping>



 <servlet>
        <servlet-name>ShowPatientHandoff_Servlet</servlet-name>
        <servlet-class>com.controller.ShowPatientHandoff_Servlet</servlet-class>
 </servlet>
 
<servlet-mapping>
 	<servlet-name>ShowPatientHandoff_Servlet</servlet-name>
	<url-pattern>/ShowPatientHandoffServlet</url-pattern>
</servlet-mapping>

   
 
 </web-app>
 </element>