<?xml version="1.0" encoding="UTF-8"?>
 <element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

 
<servlet>
      <servlet-name>Inventoryitemservlet</servlet-name>
      <servlet-class>com.controller.Inventoryitemservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Inventoryitemservlet</servlet-name>
<url-pattern>/Inventoryitemservlet</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>Displayinventoryservlet</servlet-name>
      <servlet-class>com.controller.Displayinventoryservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Displayinventoryservlet</servlet-name>
<url-pattern>/Displayinventoryservlet</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>Inventoryupdateservlet</servlet-name>
      <servlet-class>com.controller.Inventoryupdateservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Inventoryupdateservlet</servlet-name>
<url-pattern>/Inventoryupdateservlet</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>Deleteitemservlet</servlet-name>
      <servlet-class>com.controller.Deleteitemservlet</servlet-class> 
 </servlet>
 
<servlet-mapping>
<servlet-name>Deleteitemservlet</servlet-name>
<url-pattern>/Deleteitemservlet</url-pattern>
</servlet-mapping>




 
   
 
 </web-app>
 </element>